.maintemplate-template{
    width: auto;
    height: auto;
}
.maintemplate-header{
    width: auto;
    height: auto;
}

.maintemplate-content{
    margin: auto;
}

.maintemplate-recommend{
    width: auto;
    height: auto;
}

.maintemplate-mini-community{
    width: auto;
    height: auto;
}

.maintemplate-footer{
    width: auto;
    height: auto;
}