.maintemplate-template{
    width: auto;
    height: auto;
}

.maintemplate-main{
    margin: auto;
}

.maintemplate-recommend{
    width: auto;
    height: auto;
}

.maintemplate-content{
    width: auto;
    height: auto;
}

.maintemplate-footer{
    width: auto;
    height: auto;
}